.env*
venv/
env/
__pycache__/
*/__pycache__/
.idea/
.vscode/
.git/

.gitignore
.dockerignore
.editorconfig
.python-version
Dockerfile
LICENSE
runtime.txt

*.xlsx
*.log
*.md
*.csv
*.yaml
*.yml
*.zip

example.env
deployment/
requirements_dev.txt
